header {
    height: 45x;
    position: fixed;
    width: 100%;
    border: 2px solid #060;
}
.ativaCor {
    background-color: #f0f;
}

.logo {
    margin-left: 30px;
}

.logo img {
    heigh: 60px;
    border: 1px solid #0f0;
}

.menu {
    margin-right: 30px;
    border: 1px solid #0f0
}

.menu ul {
    display: flex;
}

